<div class="flex h-full flex-col">
  <div class="flex h-20 flex-row items-center justify-center bg-slate-500 px-7 text-white">
    <mat-icon
      [routerLink]="['/']"
      (click)="drawer().toggle()"
      aria-hidden="false"
      class="mr-3 cursor-pointer"
      aria-label="close icon"
      fontIcon="home"
    ></mat-icon>
    <div class="flex-grow">Examples</div>
    <div class="cursor-pointer" (click)="drawer().toggle()">
      <mat-icon aria-hidden="false" aria-label="close icon" fontIcon="close"></mat-icon>
    </div>
  </div>
  <mat-list role="list">
    <mat-list-item
      class="cursor-pointer"
      role="listitem"
      [routerLink]="['/example-custom-form-state-directive']"
      [routerLinkActive]="'bg-gray-600'"
      (click)="drawer().toggle()"
    >
      <span matListItemTitle>Custom Directive</span>
      <span matListItemLine>Input Control State Change</span>
    </mat-list-item>

    <mat-list-item
      class="cursor-pointer"
      role="listitem"
      [routerLink]="['/example-force-disable']"
      [routerLinkActive]="'bg-gray-600'"
      (click)="drawer().toggle()"
    >
      <span matListItemTitle>Custom Enforcer Directive</span>
      <span matListItemLine>Input State Enforcer</span>
    </mat-list-item>

    <mat-list-item
      class="cursor-pointer"
      role="listitem"
      [routerLink]="['/example-comparison']"
      [routerLinkActive]="'bg-gray-600'"
      (click)="drawer().toggle()"
    >
      <span matListItemTitle>Custom Validator Directive</span>
      <span matListItemLine>Comparison Validator</span>
    </mat-list-item>
  </mat-list>
</div>
